body{background: #000; overflow:hidden; width:100%; height:100%; position:fixed; top:0; left:0;}
body:full-screen{width:100%; height:100%;}
body:fullscreen{width:100%; height:100%;}
body:-webkit-full-screen, body:-moz-full-screen{width:100%; height:100%;}

.error{
	width:847px;
	height:576px;
	position:absolute;
border-radius: 8px;
box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	background:url(alert.png);
}