* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

button.play {
  background: transparent;
  border: none !important;
  font-size: 5px;
  color: #ac976f;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  /*margin: auto;
  z-index: 99;
  display: block;
  width: 200px;*/
  height: 50px;
  right: 0;
  bottom: 0;
}
button.play.isPlaying {
  display: none;
}