body {
	background-image: linear-gradient(to right, crimson 10%, orangered, gold, greenyellow, skyblue, steelblue, violet, purple 90%), linear-gradient(white 50%, black 50%), linear-gradient(90deg, white 50%, black 50%);
	background-blend-mode: multiply, difference, normal;
	background-size: 100% 100%, 5em 5em, 5em 5em;
}

/* The gameboard. */
.board {
	background-color: green;
	position: absolute;
	left: 50px;
	top: 50px;
	border: 10px outset rgba(134, 185, 0, 0.72);
  	transform: scale(.7);
  	transform-origin: 0 0;
}

/* A past move snapshot game board. */
.pastMove {
	opacity: 0.8;
}

/* Board space rows. */
.row, .altrow {
	clear: both;
}

/* Alternating black + white spaces. */
.board .row .space:nth-child(even), .board .altrow .space:nth-child(odd) {
	background: linear-gradient(-45deg, rgba(167, 93, 41, 0.7), rgba(93, 41, 4, 0.7));
}
.board .row .space:nth-child(odd), .board .altrow .space:nth-child(even) {
	background: linear-gradient(45deg, rgba(74, 129, 102, 0.65), rgba(86, 155, 121, 0.65));
}

/* Board space. */
.space {
	height: 100px;
	width: 100px;
	float: left;
	font: bold 14pt calibri;
	color: gray;
	text-align: center;
}

/* Available spaces (to show to the user). */
.availableSpace {
	background-color: yellow !important;
	cursor: pointer;
}
.availableTake {
	background-color: red !important;
	cursor: pointer;
}

/* A game piece. */
.piece {
	position: absolute;
	height: 100px;
	width: 100px;
	text-align: center;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
}
.flipped, .flipped .piece {
	-moz-transform : rotate(180deg);
	-webkit-transform : rotate(180deg);
	-o-transform : rotate(180deg);
	-ms-transform : rotate(180deg);
	transform : rotate(180deg);
}
.flipped .pawn {
	margin-top: 0px;
}

/* Game pieces' colors. */
.white {
	color: white;
}
.black {
	color: black;
}

/* Game control panel. */
#ControlPanel {
	position: absolute;
	top: 10px;
	right: 10px;
	background: brown;
	border: 1px solid black;
	box-shadow: 0 0 10px black;
	padding: 0.5em;
}
#ControlPanel label {
	color: white;
	font-weight: bold;
}

/* Scoresheet. */
#ScoresheetBox {
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: #efefef;
	border: 1px solid black;
	box-shadow: 0 0 10px black;
	padding: 0.5em;
	font: italic 14pt calibri;
	display: block;
	max-height: 50%;
	overflow-x: hidden;
	overflow-y: auto;
}
#Scoresheet {
	margin-right: 20px;
}
#Scoresheet td {
	border-bottom: 1px solid black;
	text-align: center;
}
#Scoresheet td:first-child {
	border-bottom: none;
}
/* Scoresheet active move highlight. */
.activeMove {
	background: yellow;
}

/* Evaluations list. */
#Evaluations {
	position: absolute;
	background: rgb(150, 200, 255);
	padding: 10px;
	box-shadow: 0 0 10px black;
	border-radius: 10px;
	right: 10px;
	top: 150px;
}

/* The piece images. */
.bishop-black {
	background-image: url(images/alfil-negro.png);
}
.king-black {
	background-image: url(images/rey-negro.png);
}
.knight-black {
	background-image: url(images/caballo-negro.png);
}
.pawn-black {
	background-image: url(images/peon-negro.png);
}
.queen-black {
	background-image: url(images/reina-negro.png);
}
.rook-black {
	background-image: url(images/torre-negro.png);
}
.bishop-white {
	background-image: url(images/alfil-blanco.png);
}
.king-white {
	background-image: url(images/rey-blanco.png);
}
.knight-white {
	background-image: url(images/caballo-blanco.png);
}
.pawn-white {
	background-image: url(images/peon-blanco.png);
}
.queen-white {
	background-image: url(images/reina-blanco.png);
}
.rook-white {
	background-image: url(images/torre-blanco.png);
}