* {
  outline: 0;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c47676;
}

main {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  padding: 50px;
  text-align: center;
}
main .tool {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  border-radius: 2px;
  width: 300px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
}
main .tool .header {
  padding: 15px 10px;
  font: 400 16px/20px Open Sans, sans-serif;
  color: white;
  text-align: left;
  background-color: #4d4d4d;
}
main .tool .content {
  padding: 0 10px 10px;
}
main .tool .content .input-group {
  border-bottom: 1px solid #e6e6e6;
}
main .tool .content .input-group .date .year {
  width: 50px;
}
main .tool .content .input-row {
  border-bottom: 1px solid #e6e6e6;
  height: 50px;
  text-align: right;
}
main .tool .content .input-row.left-aligned {
  text-align: left;
}
main .tool .content .input-row:last-of-type {
  border: none;
}
main .tool .content .input-row label {
  font: 12px/16px Open Sans, sans-serif;
  color: #999999;
  text-transform: uppercase;
}
main .tool .content .input-row label:not(.inline) {
  float: left;
  padding: 9px 0;
  text-align: left;
}
main .tool .content .input-row label.inline {
  border-right: 1px solid #e6e6e6;
  padding: 9px;
  line-height: 50px;
}
main .tool .content .input-row label.inline:last-of-type {
  border: none;
}
main .tool .content .input-row input[type=text],
main .tool .content .input-row input[type=number],
main .tool .content .input-row select {
  border: 0;
  border-radius: 0;
  min-width: 50px;
  height: 100%;
  font-size: 14px;
  text-align: center;
  color: #666666;
  background-color: rgba(0, 0, 0, 0);
}
main .tool .content .input-row input[type=number] {
  -moz-appearance: textfield;
}
main .tool .content .input-row input::-webkit-outer-spin-button,
main .tool .content .input-row input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
main .tool .content .input-row input[type=radio],
main .tool .content .input-row input[type=checkbox] {
  margin-right: 10px;
}
main .tool .actions {
  padding: 5px;
  text-align: right;
}
main .tool .actions .action {
  display: inline-block;
  margin: 0 5px;
  border: none;
  padding: 10px 5px;
  cursor: pointer;
  font: 600 12px/16px Open Sans, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
}
main .tool .actions .action.disabled {
  color: #bfbfbf !important;
  cursor: default;
}
main .tool .snackbar {
  display: none;
  padding: 10px;
  font: 400 12px/16px Open Sans, sans-serif;
  color: white;
  text-align: left;
  background-color: #262626;
}

#password-generator {
  text-align: left;
}
#password-generator .header {
  background-color: #a32929;
}
#password-generator .content .input-row .pass-length {
  width: 50px;
}
#password-generator .content .password-output {
  margin-top: 10px;
  border-radius: 2px;
  padding: 5px;
  width: 100%;
  height: 75px;
  font: 14px courier;
  color: #a32929;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  resize: none;
}
#password-generator .content .password-output::selection {
  background: #f5d6d6;
}
#password-generator .content .password-output::-moz-selection {
  background: #f5d6d6;
}
#password-generator .actions .action {
  color: #a32929;
}